doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sales Records Management
    link(rel="stylesheet" href="/css/sales.css")
  .container
    h2 Add Sale
    form(action=`/addSale/${produce._id}` method='POST')
      .form-group
        label Produce Name
        select.form-control(name='produceName')
          option(value=produce.produceName) #{produce.produceName}
      .form-group
        label Tonnage (Kgs) #{produce.tonnage} Remaining
        input.form-control(type='number' name='saleTonnage' required)
      .form-group
        label Amount Paid (UGX)
        input.form-control(type='number' name='amount' required)
      .form-group
        label Buyer's Name
        input.form-control(type='text' name='buyerName' required)
      .form-group
        label Sales Agent
        select.form-control(name='salesAgent')
          each agent in agents
            option(value=agent.username) #{agent.username}
      .form-group
        label Date of Sale
        input.form-control(type='date' name='saledate' required)
      button.btn.btn-primary(type='submit') Make Sale
