block content
  .container
    h2 Add Sale
    form(action=`/addSale/${produce._id}` method='POST')
      .form-group
        label Produce Name
        select.form-control(name='produceName')
          option(value=produce._id) #{produce.produceName}
      .form-group
        label Tonnage (Kgs)
        input.form-control(type='number' name='saleTonnage' required)
      .form-group
        label Amount Paid (UGX)
        input.form-control(type='number' name='amount' required)
      .form-group
        label Buyer's Name
        input.form-control(type='text' name='buyerName' required)
      .form-group
        label Sales Agent
        select.form-control(name='salesAgent')
          each agent in agents
            option(value=agent._id) #{agent.firstName} #{agent.lastName}
      .form-group
        label Date of Sale
        input.form-control(type='date' name='saledate' required)
      button.btn.btn-primary(type='submit') Make Sale
