doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Manager Dashboard
  link(rel='stylesheet' href='/css/sales.css')
  .container
    h2.text-center.mt-5.mb-4 Produce List
    table.table.table-striped
      thead
        tr
          th(scope='col') Produce Name
          th(scope='col') Tonnage (Kg)
          th(scope='col') Amount Paid (UGX)
          th(scope='col') Buyer Name
          th(scope='col') Sales Agent
          th(scope='col') Date
          th(scope='col') Time
          th(scope='col') Action
      tbody
        if sales && sales.length
          each sale in sales
            tr
              td #{sale.produceName}
              td #{sale.tonnage}
              td #{sale.amountPaid}
              td #{sale.buyerName}
              td #{sale.salesAgent}
              td #{new Date(sale.date).toLocaleDateString()}
              td #{sale.time}
              td
                form(method='POST' action=`/makeSale/${sale._id}`)
                  .mb-3
                    label.form-label(for='saleTonnage') Tonnage (Kg)
                    input#saleTonnage.form-control(type='number' name='saleTonnage' required)
                  .mb-3
                    label.form-label(for='amountPaid') Amount Paid (UGX)
                    input#amountPaid.form-control(type='number' name='amountPaid' required)
                  .mb-3
                    label.form-label(for='buyerName') Buyer Name
                    input#buyerName.form-control(type='text' name='buyerName' required)
                  .mb-3
                    label.form-label(for='salesAgent') Sales Agent
                    input#salesAgent.form-control(type='text' name='salesAgent' required)
                  .mb-3
                    label.form-label(for='date') Date
                    input#date.form-control(type='date' name='date' required)
                  .mb-3
                    label.form-label(for='time') Time
                    input#time.form-control(type='text' name='time' required)
                  button.btn.btn-primary(type='submit') Make Sale
              td
                a.btn.btn-primary.btn-sm(href='/updateProduce/'+sale._id) Update
              td
                form(method="post" action='/deleteProduce')
                  input(type='hidden' name='id' value=sale._id)
                  button.btn.btn-danger.btn-sm(type="submit") Delete
        else
          p No produce recorded yet :(
