doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Registered Users List
        link(rel="stylesheet", href="/css/register.css")
    body
        .container
            h1#title Registered Users List
            table
                thead
                    tr
                        th Username
                        th Email
                        th Phone Number
                        th Role
                        th Branch
                        th Registration Date
                        th Actions
                tbody
                    each user in users
                        tr
                            td= user.username
                            td= user.email
                            td= user.phonenumber
                            td= user.role
                            td= user.branch
                            td= user.registrationDate.toDateString()
                            td
                                // Update Action
                                form(action=`/users/update/${user._id}`, method="POST")
                                    button(type="submit") Update
                                // Delete Action
                                form(action=`/users/delete/${user._id}`, method="POST", style="display:inline;")
                                    button(type="submit") Delete
        script(src="/register/register.js")
