block content
  .container.d-flex.justify-content-center.align-items-center.min-vh-100
    .row.justify-content-center
      .col-md-6
        .edit-sale-form.p-4
          h2.text-center.mb-4 Receipt
            h2 Thank you for shopping with us 
            p Produce Name: #{sale.produceName.produceName}
            p Produce Type: #{sale.produceType}
            p Tonnage: #{sale.saleTonnage}
            p Amount Paid: #{sale.amount}
            p Buyer's Name: #{sale.buyername}
            p Sales Agent: #{sale.salesAgent.username}
            p Date of Sale: #{moment(sale.saledate.)}
            p 
              a(href="/salesList") Back