block content
  .container
    h2.text-center.mt-5.mb-4 Sales List
    table.table.table-striped
      thead
        tr
          th(scope='col') Produce Name
          th(scope='col') Tonnage (Kgs)
          th(scope='col') Amount Paid (UGX)
          th(scope='col') Buyer's Name
          th(scope='col') Sales Agent
          th(scope='col') Date of Sale
          th(scope='col') Action
      tbody
        if sales.length
          each sale in sales
            tr
              td #{sale.produceName.produceName}
              td #{sale.saleTonnage}
              td #{sale.amount}
              td #{sale.buyerName}
              td #{sale.salesAgent.firstName + " " + sale.salesAgent.lastName}
              td #{moment(sale.saledate, "YYYY-MM-DD").format('DD-MM-YYYY')}
              td
                a.btn.btn-secondary.btn-sm(href=`/updateSale/${sale._id}`) Update
              td  
                form(method='POST' action=`/deleteSale/${sale._id}` style='display:inline')
                  input(type='hidden' name='_method' value='DELETE')
                  button.btn.btn-danger.btn-sm(type='submit') Delete
              td 
                a.btn.btn.secondary.btn-sm(href="/receipt/"+sale._id) Make Receipt   
          else
              p No sales records yet :(


