block content
  .container
    h2 Sales List
    table.table
      thead
        tr
          th Produce Name
          th Tonnage (Kgs)
          th Amount Paid (UGX)
          th Buyer's Name
          th Sales Agent
          th Date of Sale
          th Action
      tbody
        if sales.length
          each sale in sales
            tr
              td #{sale.produceName.produceName}
              td #{sale.saleTonnage}
              td #{sale.amount}
              td #{sale.buyerName}
              td #{sale.salesAgent.firstName} #{sale.salesAgent.lastName}
              td #{sale.saledate.toLocaleDateString()}
              td
                a.btn.btn-secondary.btn-sm(href='/updateSale/'+sale._id) Update
              td 
                form(action='/deleteSale' method='POST')
                  input(type="hidden", placeholder="". name="id", value=sale._id)
                  button.btn.btn-danger.btn-sm(type='submit') Delete
              td 
                a.btn.btn-secondary.btn-sm(href="/receipt/"+sale._id) Receipt
        else
              p No sales records yet :(
