doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Produce List
  link(rel='stylesheet' href='/css/list.css')
  // Link to your custom CSS
.container
  h2.text-center.mt-5.mb-4 Produce List
  table.table.table-striped
    thead
      tr
        th(scope='col') Produce Name
        th(scope='col') Store Branch
        th(scope='col') Tonnage (Kg)
        th(scope='col') Produce Cost per Kg (UGX)
        th(scope='col') Total Cost (UGX)
        th(scope='col') Date
        th(scope='col') Time
        th(scope='col') Action
    tbody
      each produce in produces
        tr
          td #{produce.produceName}
          td #{produce.storeBranch}
          td #{produce.tonnage}
          td #{produce.cost}
          td #{produce.tonnage * produce.cost}
          td #{moment(produce.date).format('YYYY-MM-DD')}
          td #{produce.time}
          td
            a.btn.btn-success(href="/addSale/" + produce._id) Make Sale
            a.btn.btn-primary(href="/updateProduce/" + produce._id) Update
            form(action="/deleteProduce" method="POST" style="display:inline;")
              input(type="hidden" name="id" value=produce._id)
              button.btn.btn-danger(type="submit") Delete
