doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Sales Form
    link(rel='stylesheet' type='text/css' href='/css/credit.css')
  body
    nav.navbar
      .brand-name
        h1 HAPPY HOE GROCERY STORE
    .main-container
      .sidebar
        ul
          li CREDIT SALE
          li CREDIT LIST
          li STOCK STATUS 
          li PRODUCE LIST
          li LOG OUT
      .form-section
        .form-container
          .form-header
            h1 CREDIT SALES FORM
          form(name='salesForm' onsubmit='return validateForm()' action='/updateCredit?id=' + credit._id method='POST')
            .form-row
              .form-column
                label(for='produceName') Produce Name:
                select#produceName(name='produceName')
                  option(value='', selected=credit.produceName === '') Select Produce
                  option(value='Rice', selected=credit.produceName === 'Rice') Rice
                  option(value='Beans', selected=credit.produceName === 'Beans') Beans
                  option(value='Maize', selected=credit.produceName === 'Maize') Maize
                  option(value='Cowpeas', selected=credit.produceName === 'Cowpeas') Cowpeas
                  option(value='Soyabeans', selected=credit.produceName === 'Soyabeans') Soyabeans
                  option(value='Gnuts', selected=credit.produceName === 'Gnuts') G-nuts
                
                label(for='produceType') Type of Produce:
                select#produceType(name='produceType')
                  option(value='', selected=credit.produceType === '') Select Produce Type
                  option(value='Cereals', selected=credit.produceType === 'Cereals') Cereals
                  option(value='Legumes', selected=credit.produceType === 'Legumes') Legumes
                
                label(for='buyerName') Buyer Name:
                input#buyerName(type='text' name='buyerName' value=credit.buyerName)

                label(for='tonnage') Tonnage:
                input#tonnage(type='number' name='tonnage' value=credit.tonnage)

                label(for='produceCost') Cost Per Kg (UGX):
                input#produceCost(type='text' name='produceCost' value=credit.produceCost)

                label(for='totalCost') Total Amount (UGX):
                input#totalCost(type='number' name='totalCost' value=credit.totalCost readonly)

                label(for='amountPaid') Amount Paid (UGX):
                input#amountPaid(type='text' name='amountPaid' value=credit.amountPaid)

                label(for='amountDue') Amount Due (UGX):
                input#amountDue(type='text' name='amountDue' value=credit.amountDue readonly)
              
              .form-column
                label(for='nationalId') National ID (NIN):
                input#nationalId(type='text' name='nationalid' value=credit.nationalId)

                label(for='location') Location:
                input#location(type='text' name='location' value=credit.location)

                label(for='contacts') Buyer's Contact:
                input#contacts(type='text' name='contact' value=credit.contacts)

                label(for='dispatchDate') Date of Dispatch:
                input#dispatchDate(type='date' name='dispatchDate' value=credit.dispatchDate)

                label(for='time') Time:
                input#time(type='time' name='time' value=credit.time)

                label(for='dueDate') Due Date:
                input#dueDate(type='date' name='dueDate' value=credit.dueDate)

                label(for='branch') Branch Name:
                select#branch(name='branch')
                  option(value='', selected=credit.branch === '') Select Branch
                  option(value='Maganjo', selected=credit.branch === 'Maganjo') Maganjo
                  option(value='Matugga', selected=credit.branch === 'Matugga') Matugga

                label(for='salesagent') Sales Agent Name:
                input#salesAgent(type='text' name='salesagent' value=credit.salesAgent)

            .submit
              button(type='submit') Submit
          #result
    script(src='/js/credit.js')
