doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sign Up
    link(rel='stylesheet' href='/css/signup.css')
  body
    nav.navbar
      .brand-name
        h1 Happy Hoe Grocery Store

    br
    br
    br  

    form.signup-form(action='/updateSignup?id=' + signup._id method='POST')
      h1 Sign Up
      
      .form-row 
        .form-column       
          label(for='username') Username:
          input#username.form-input(type='text' name='username' value=signup.username)
          
          label(for='role') Role:
          select#role.form-input(name='role' value=signup.role)
            option(value='salesagent' selected=signup.role === 'salesagent') Sales Agent
            option(value='manager' selected=signup.role === 'manager') Manager
        
        .form-column
          label(for='phone') Phone Number:
          input#phone.form-input(type='text' name='phoneNumber' value=signup.phoneNumber)
          
          label(for='email') Email:
          input#email.form-input(type='email' name='email' value=signup.email)
          
          label(for='branch') Branch:
          select#branch.form-input(name='branch' value=signup.branch)
            option(value='Matugga' selected=signup.branch === 'Matugga') Matugga
            option(value='Maganjo' selected=signup.branch === 'Maganjo') Maganjo
      
      label(for='password') Password:
      input#password.form-input(type='password' name='password')
      
      input(type='submit' value='Submit')
    
    script(src='/js/signup.js')